.story-part .form {
    flex: 1;
    padding: 12px 16px;
}

.story-part .form .field {
    border-radius: 4px;
    border: 1px #EEE solid;
    margin: 4px 0;
    padding: 8px;
}

.story-part .form .label {
    font-size: 0.8em;
    margin-bottom: 8px;
    font-weight: 500;
}

.story-part .form input.input {
    height: 34px;
    width: 100%;
    padding: 8px;
    font-size: 0.8em;
    color: #333;
    border: none;
    background: #F5F5F5;
    border-radius: 4px;
    box-sizing: border-box;
}

.story-part .form .status {
    font-size: 0.8em;
    margin-top: 8px;
}