body {
    width: 100%;

    font-size: 16px;

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-user-select: none;
}

.main {
    width: 1400px;
    margin: auto;
}

input {
    padding: 8px;
}

.controls {
    padding: 16px 0;
}

.out {
    text-align: center;
}

.out textarea {
    padding: 8px;
    width: 60%;
    height: 400px;

    font-family: monospace;
}

.story-part {
    border-bottom: 1px #CCC solid;

    display: flex;
    flex-direction: row;
}

.story-part .story-controls {
    width: 100px;
    padding: 16px 0;
}

.story-part .story-controls .action-button {
    margin: 4px;
    text-align: center;
}

.action-button {
    font-size: 0.8em;
    background-color: rgba(52, 152, 239, 1);
    color: #FFFFFF;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;

    box-shadow: 0 2px 4px rgba(52, 152, 239, 0.4), 0 2px 4px rgba(52, 152, 239, 0.4);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);

    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.action-button.secondary {
    border: 1px #CCCCCC solid;
    background-color: #FFFFFF;
    color: #333333;
    box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1), 0 2px 4px rgba(51, 51, 51, 0.1)
}

.action-button.inline {
    display: inline-block;
}

.action-button:hover {
    -moz-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
    box-shadow: 0 4px 8px rgba(52, 152, 239, 0.4), 0 4px 8px rgba(52, 152, 239, 0.4);
 }

.action-button:active {
    box-shadow: 0 2px 4px rgba(52, 152, 239, 0.4), 0 2px 4px rgba(52, 152, 239, 0.4);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}