.preview {
    width: 720px;
    display: flex;
    padding: 2px 0;
}

.preview .device {
    float: left;
    width: 360px;
    height: 780px;

    border: 1px solid #CCCCCC;
    margin: 2px 0 2px 4px;
    position: relative;
}

.device {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.device .overlay {
    position: absolute;
    width: 100%;
    height: 50%;
}

.device .overlay.top {
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 222), transparent);
}

.device .overlay.bottom {
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 222));
}

.device .hint {
    position: absolute;
    top: 0;
    color: #FFFFFF;
    font-size: 0.5em;
}

.device.android {
    font-family: AndroidStoriesFont, ui-serif;
}

.device.android .storyTitle {
    position: absolute;
    top: 0;

    font-family: AndroidStoriesFont, ui-serif;
    font-size: 26px;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;

    margin-top: 60px;
    margin-left: 24px;
    margin-right: 24px;
}

.device.android .storyBottom {
    position: absolute;
    bottom: 72px;

    margin-left: 24px;
    margin-right: 24px;

}

.device.android .storyBottom .storyText {
    font-family: AndroidStoriesFont, ui-serif;
    font-size: 22px;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;

    margin-bottom: 24px;
}

.device.android .storyBottom .storyButtonContainer {
    display: block;
    margin-bottom: 24px;
}

.device.android .storyBottom .storyButton {
    min-height: 48px;
    min-width: 88px;
    box-sizing: border-box;

    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;

    padding: 15px 16px;
    border-radius: 24px;
}

.device.ios { }

.device.ios .storyTitle {
    position: absolute;
    top: 0;

    font-family: iOSTitleFont, ui-serif;
    font-size: 26px;
    text-align: left;

    margin-top: 80px;
    margin-left: 16px;
    margin-right: 16px;
}

.device.ios .storyBottom {
    position: absolute;
    bottom: 72px;

    margin-left: 16px;
    margin-right: 16px;
}

.device.ios .storyBottom .storyText {
    font-family: iOSTitleFont, ui-serif;
    font-size: 20px;
    text-align: left;

    margin-bottom: 36px;
}

.device.ios .storyBottom .storyButtonContainer {
    display: block;
    margin-bottom: 24px;
}

.device.ios .storyBottom .storyButton {
    min-height: 44px;
    min-width: 88px;
    box-sizing: border-box;

    font-family: iOSButtonFont, ui-serif;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;

    padding: 12px 16px;
    border-radius: 24px;
}